<a href="https://colab.research.google.com/github/psb2110-glitch/ML_CLASS-ACTIVITY/blob/main/ML_Dataset_Creation_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd
df=pd.read_csv('/content/drive/MyDrive/ML/Stud_dataset.csv')
print(df)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
    Student_Id Student_Name  RollNumber Section  Age
0         1001       Aditya          21       A   20
1         1002     Manshaya          22       B   21
2         1003        Varun          23       A   21
3         1004        Rajiv          24       C   20
4         1005      Rajveer          25       B   21
5         1006        Raghu          26       A   20
6         1007       Pratik          27       A   21
7         1008        Mohan          28       B   20
8         1009       Roshan          29       A   21
9         1010        Tarun          30       B   22
10        1011        Smita          31       A   21
11        1012       Anuska          32       C   20
12        1013        Aditi          33       B   22
13        1014         Anuj          34       A   20
14        1015     Anshuman          35       A   21
15        1016      Shibang          36       C   22
16        1017       Shreya          37       B   22
17        1018         Neha          38       A   20
18        1019       Ritika          39       C   21
19        1020       Ankita          40       B   22